@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}

header {
    background-color: #009688; 
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    vertical-align: middle; 
}

header h1 {
    font-size: 36px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

section {
    padding: 40px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #009688;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

address{
    font-style: normal;
}
div{
    list-style-type: disc;
    margin-left: 20px;
}
/* Estilos para os botões personalizados */
.meuBotao {
    background-color: #009688;
    border: none;
    width: 220px;
    height: 50px;
    font-size: 25px;
}
.meuBotao:hover {
    background-color: #009688; /* Defina a cor de fundo desejada para o hover aqui */
    color: white;
}
.meuBotao a:hover {
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer; /* Altera o cursor para a mão ao passar o mouse */
}