@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}

.logo {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
}
.logo-and-buttons {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: space-between; /* Adiciona espaço entre os elementos */
}

.logo-img {
    float: left;
    margin-right: 20px;
}

header {
    background-color: #009688; 
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

header img {
    vertical-align: middle; 
}

header h1 {
    font-size: 50px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

section {
    padding: 40px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #009688;
}
body h2{
    color: #009688;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

footer h5 img{
    margin-right: 20px;
}

footer a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

address{
    font-style: normal;
}
div{
    list-style-type: disc;
    margin-left: 20px;
}
body h2{
    margin-top: 40px;
    margin-bottom: 20px;
}
body section h2{
    margin-top: 0px;
}
